.card {
  background-color: #94644a;
  width: 216px;
  height: 182px;
  padding: 8px;
  border-radius: 12px;
  font-family: ' roboto, sans-serif';
  margin: 16px;
}

.text {
  font-size: 14px;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.img {
  border-radius: 12px;

  width: 100%;
}
